.item {
  width: 180px;
  margin: 5px auto;
  position: relative;
}
.delete{
  right: -6px;
  top: -6px;
  position: absolute;
  background: #ff8181eb;
  border-radius: 50%;
  width: 20px;
}
.col {
  flex-grow: 1;
  width: 200px;
  height: 100%;
  margin: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#col-STATUS_TODO{
  background: #EEDCDC;
}
#col-STATUS_DOING{
  background: #9CD28E;
}
#col-STATUS_DONE{
  background: #ddd;
}
.col-header {
  line-height: 30px;
  text-align: center;
  border-bottom: #ffffff 10px solid;
}
.col-main {
  overflow: auto;
  padding-top: 20px;
  flex-grow: 1;
}
.col-main.active {
  background: #0077ff;
  opacity: 0.1;
}
.task-wrapper {
  display: flex;
  height: 400px;
  width: 800px;
}